#contact {
  padding-top: 50px;
}

.contact-subtitle {
  color: white;
  padding-top: 1rem;
}

.contact-subtitle span {
  font-size: 0.9rem;
  color: rgb(104, 104, 104);
}

.contact-form-container {
  height: max-content;
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 3fr;
  margin-top: 0.5rem;
}

/* Left Side Contact Section _________________________________________________________________*/

.contact-left {
  width: 100%;
  height: max-content;
  /* background-color: green; */
}

form .input-box {
  width: 50%;
  height: 50px;
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

form .input-box input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px white;
  height: 75%;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  outline: none;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: 400;
}

.input-name {
  text-transform: capitalize;
}

form .input-box input:focus,
form .input-box input:valid {
  background-image: linear-gradient(to right, #1ae6e696 70%, #ff9900);
}

form .input-box .tes {
  color: white;
  position: absolute;
  order: -10;
}

form .input-box input:focus ~ .tes,
form .input-box input:valid ~ .tes {
  transform: translateY(-30px);
  font-size: 0.8rem;
  transition: 00.5s;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.btn-send {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #ff9900;
  outline: none;
  border: none;
}

.btn-send:active {
  transform: translate(-2px, 1px);
  /* transform: translateX(-1px); */
}

/* Right Side Contact Section _________________________________________________________________*/

.contact-right {
  background-color: blueviolet;
}
