#gallery {
  padding-top: 50px;
}

.gallery-content-wrapper {
  width: 100%;
  height: max-content;
  z-index: 1000;
}

.gallery-content {
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: rgb(141, 24, 43); */
  column-gap: 2rem;
  padding-top: 2rem;
}

.gallery-content:nth-child(even) .gallery-text {
  order: 2;
}

.gallery-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-text-area {
  /* background-color: pink; */
  letter-spacing: 1px;
}

.gallery-icon-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 2px solid #272727;
  /* background-color: yellow; */
}

.gallery-icon-area > p {
  font-size: 0.8rem;
  color: #9e9e9e;
  text-transform: uppercase;
  font-weight: bold;
}

.gallery-icon-area ul {
  list-style: none;
  display: flex;
}

.gallery-icon-area ul li {
  padding: 0px 10px;
  font-size: 1.5rem;
  color: rgb(207, 207, 207);
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Gallery Image */

.gallery-image {
  background-color: transparent;
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  /* background-color: black; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
}

.image-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.548);
  position: relative;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.image-overlay:hover {
  opacity: 1;
}

.btn-view-img {
  width: 30%;
  height: 10%;
  background-image: linear-gradient(to right, #50d8d7 0%, #00cdac 51%, #ff9900 100%);
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-size: 200% auto;
  transition: all 0.4s;
  margin-bottom: 5px;
}

.btn-view-img:hover {
  background-position: right center;
}

.btn-view-img:active {
  color: #000000;
  background-position: 0;
}

.btn-view-code {
  width: 30%;
  height: 10%;
  background-image: linear-gradient(to right, #50d8d7 0%, #00cdac 51%, #ff9900 100%);
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-size: 200% auto;
  transition: all 0.4s;
  margin-top: 5px;
}

.btn-view-code:hover {
  background-position: right center;
}

.btn-view-code:active {
  color: #000000;
  background-position: 0;
}

/* Image Content GAllery */

.one {
  background-image: url("https://cdn.dribbble.com/users/8318196/screenshots/16246416/media/e1404310dea372617593ca316d579cf4.jpg?compress=1&resize=1200x900");
}

.two {
  background-image: url("https://cdn.dribbble.com/users/4588540/screenshots/16243929/media/430745b49a20f462bbfbdabc77b542f9.png?compress=1&resize=1200x900");
}

.three {
  background-image: url("https://cdn.dribbble.com/users/77370/screenshots/15220540/media/a9f3538c854ffc813808a99feba5ba67.jpg?compress=1&resize=1200x900");
}

.four {
  background-image: url("https://cdn.dribbble.com/users/3949873/screenshots/14944967/media/838007ce027f3a1e8e9f7f29546ec07f.png?compress=1&resize=1200x900");
}

/* Responsive */

@media (max-width: 768px) {
  .gallery-content {
    height: 500px;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr;
    row-gap: 10px;
  }

  .gallery-image {
    order: -1;
  }

  .gallery-text-area {
    /* background-color: pink; */
    padding-bottom: 1rem;
  }
}

@media (max-width: 540px) {
  .btn-view-code,
  .btn-view-img {
    font-size: 0.7rem;
    font-weight: normal;
  }
}

@media (max-width: 540px) {
  .gallery-icon-area ul li {
    padding: 0px 5px;
  }
}
